@mixin type_text() {
    //header-navigation
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin header_botoom_link() {
    //хз
    color: #636363;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@mixin fontStyle($color, $size: 14px, $width: 300) {
    color: white;
    font-family: "latoregular", sans-serif;
    font-size: $size;
    font-style: normal;
    font-weight: $width;
    line-height: normal;
}